@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #E5E5E5;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    padding: 6px;
}

.cabecalho-imagem {
    width: 100px;
    height: 40px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px dotted #0A3871;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo-principal-escrito-areatexto {
    width: 700px;
    height: 370px;
    padding: 20px;
    border: 2px dotted #0A3871;
    border-radius: 18px;
    background-color: #E5E5E5;
    text-transform: lowercase;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #0A3871;
}

.conteudo-principal-escrito-areatexto:focus {
    outline: none;
}

::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #0A3871;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.40);
    text-transform: none;
}

.conteudo-principal-escrito-aviso {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
}

.conteudo-principal-botoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}


.conteudo-principal-botoes-encriptar {
    background-color: #0A3871;
    color: #FFFFFF;
    width: 250px;
    height: 50px;
    border: 0.4px solid #FFFFFF;
    border-radius: 18px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.conteudo-principal-botoes-encriptar:hover {
    opacity: 0.5; 
}

.conteudo-principal-botoes-desencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
    width: 250px;
    height: 50px;
    border: 0.4px solid #0A3871;
    border-radius: 18px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.conteudo-principal-botoes-desencriptar:hover {
    opacity: 0.5; 
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.conteudo-secundario-areatexto {
    width: 400px;
    height: 450px;
    padding: 20px;
    background-image:  url(imagens/boneco.png);
    background-repeat: no-repeat;
    background-position: center 55px;
    background-size: 250px 250px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #0A3871;
    border: 2px dotted #0A3871;
    border-radius: 18px;
}

.conteudo-secundario-areatexto:focus {
    outline: none;
}

.conteudo-secundario-mensagem {
    font-family: 'Inter', sans-serif;
    color: #343A40;
    position: absolute;
    text-align: center;
    margin-top: 300px;
}
.conteudo-secundario-mensagem-nenhumamensagemencontrada {
    font-weight: 700;
    font-size: 20px;
}


.conteudo-secundario-mensagem-digiteumtexto {
    font-weight: 400;
    font-size: 16px;
    padding: 5px;
}

.conteudo-secundario-botao {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #D8DFE8;
    color: #0A3871;
    width: 250px;
    height: 50px;
    border: 0.4px solid #0A3871;
    border-radius: 18px;
    cursor: pointer;
    position: absolute;
    margin-top: 380px;
}

.conteudo-secundario-botao:hover {
    opacity: 0.5; 
}

.rodape {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #0A3871;
    padding: 6px;
}

